body {
  font-family: sans-serif;
}
header {
  position: relative;
  background-color: #5e454b;
  height: 150px;
  color: blanchedalmond;
}
header img {
  width: 200px;
  height: 150px;
  float: right;
}
header h1 {
  position: absolute;
  margin-top: 30px;
  padding: 15px;
  font-size: 32px;
  font-weight: 500;
}
header ul {
  position: absolute;
  margin-left: 40%;
}
header ul li {
  margin-top: 40px;
  display: inline-block;
  padding: 15px;
}
main {
  background-color: #d8b384;
  color: #000;
  position: relative;
}
main #userDisplay {
  padding-top: 50px;
  padding-left: 60px;
  color: #c84b31;
  font-size: 30px;
  font-weight: 700;
}
main .about-me1 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-top: 50px;
}
main .about-me2 {
  padding-left: 60px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500;
  width: 800px;
}
main ul {
  font-size: 24px;
  font-weight: 500;
  padding-left: 60px;
  padding-top: 50px;
}
main ul h3 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}
main ul li {
  padding-left: 10px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500;
  list-style: disc;
}
main div:nth-child(3) h3 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}
main div:nth-child(3) ul {
  font-size: 24px;
  font-weight: 500;
  padding-left: 60px;
  line-height: 1.5;
}
main div:nth-child(3) ul li {
  padding-left: 10px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500;
  list-style: disc;
}
main ol h3 {
  font-size: 30px;
  font-weight: 700;
  padding-bottom: 20px;
}
main ol {
  font-size: 24px;
  font-weight: 500;
  padding-top: 50px;
  padding-left: 60px;
  line-height: 1.5;
  list-style: numbers;
}
main ol li {
  padding-left: 10px;
  line-height: 1.5;
  font-size: 20px;
  font-weight: 500;
}
footer h4 {
  height: 50px;
  padding-top: 60px;
  text-align: center;
  background-color: #d8b384;
}
